In [119]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [147]:
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2) AppleWebKit/601.3.9 (KHTML, like Gecko) Version/9.0.2 Safari/601.3.9'}

page = 'https://www.transfermarkt.us/premier-league/marktwerte/wettbewerb/GB1/pos//detailpos/0/altersklasse/alle/plus/1'
# page = 'https://www.transfermarkt.co.uk/fc-arsenal/startseite/verein/11/saison_id/2022'
pageTree = requests.get(page, headers=headers)
pageSoup = BeautifulSoup(pageTree.content, 'html.parser')

In [158]:
# print(pageSoup)

In [149]:
Players = pageSoup. find_all("img", {"class": "bilderrahmen-fixed lazy lazy"})
Age = pageSoup. find_all("td", {"class": "zentriert"})
Positions = pageSoup.find_all("td", {"class": ["zentriert rueckennummer bg_Torwart",
                                                "zentriert rueckennummer bg Abwehr",
                                                "zentriert rueckennummer b Mittelfeld",
                                                "zentriert rueckennummer bg_Sturm",
                                                "spieler-zusatz"]})
# Sil-laccll. llaontriortill
Nationality = pageSoup. find_all("td", {"class": "zentriert"})
Values = pageSoup. find_all("td", {"class" : "rechts hauptlink"})

In [172]:
print(Age[7])

<td class="zentriert">1</td>
<td class="zentriert"><img alt="Norway" class="flaggenrahmen" src="https://tmssl.akamaized.net/images/flagge/verysmall/125.png?lm=1520611569" title="Norway"/></td>
<td class="zentriert">22</td>
<td class="zentriert"><a href="/manchester-city/startseite/verein/281/saison_id/2022" title="Manchester City"><img alt="Manchester City" class="" src="https://tmssl.akamaized.net/images/wappen/verysmall/281.png?lm=1467356331" title="Manchester City"/></a></td>
<td class="zentriert">Nov 3, 2022</td>
<td class="zentriert">2</td>
<td class="zentriert"><img alt="England" class="flaggenrahmen" src="https://tmssl.akamaized.net/images/flagge/verysmall/189.png?lm=1520611569" title="England"/></td>
<td class="zentriert">22</td>

In [219]:
print(Players[0])
print(str(Players[0]).split('" class', 1)[0].split('<img alt="' ,1)[1])

<img alt="Erling Haaland" class="bilderrahmen-fixed lazy lazy" data-src="https://img.a.transfermarkt.technology/portrait/medium/418560-1656179352.jpg?lm=1" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" title="Erling Haaland"/>
Erling Haaland

In [243]:
for i in range(1, (len(Players)*5), 5):
    # print(i)
    # print(Age[i])
    # print(str(Age[i]).split("(",1)[1].split(")", 1)[0])
    # print(str(Players[i]).split('" class', 1) [0].split('<img alt="' ,1)[1])
    # print(Nationality[i])
    print(str(Nationality[i]).split('title="')[1].split('')[0])
# print(Age[7])
# print(str(Age[7]).split(">")[1].split('<')[0])

€170.00m
€110.00m
€110.00m
€90.00m
€85.00m
€80.00m
€80.00m
€80.00m
€80.00m
€80.00m
€80.00m
€75.00m
€75.00m
€75.00m
€75.00m
€70.00m
€70.00m
€70.00m
€70.00m
€70.00m
€70.00m
€65.00m
€65.00m
€65.00m
€60.00m

In [245]:
PlayersList = []
AgeList = []
# PositionsList = []
NationList = []
ValuesList = [] 

for i in range(0, len(Players)):
    PlayersList.append(str(Players[i]).split('" class', 1) [0].split('<img alt="' ,1)[1])
    # print(str(Players[i]).split('" class', 1) [0].split('<img alt="' ,1)[1])

for i in range(2, (len(Players)*3), 5):
    # print(i)
    # AgeList.append(str(Age[i]).split("(",1)[1].split(")", 1)[0])    #old version
    AgeList.append(str(Age[i]).split(">")[1].split('<')[0]) #new version
    # print(str(Age[i]).split("(",1)[1].split(")", 1)[0])

# for i in range(0, len(Positions)):
#     PositionsList.append(str(Positions[i]).split('title="', 1)[1].split('"><div')[0])
#     print(str(Positions[i]).split('title="', 1)[1].split('"><div')[0])

for i in range(1, (len(Players)*5),5):
    # NationList.append(str(Nationality[i]).split('title="', 1)[1].split('"/',1)[0])
    NationList.append(str(Nationality[i]).split('title="')[1].split('"/')[0])# new version

for i in range(len(Values)):
    ValuesList.append(Values[i].text)

In [246]:
# PlayersList
cleaned_values = []
# print('values list 0', ValuesList[0])
for a in list(range(len(ValuesList))):
    # print(a)
    if 'm' in ValuesList[a]:
        cleaned_values.append(float(str(ValuesList[a]).split('m\xa0')[0].split('€')[1])*1000000)
    elif 'Th.' in ValuesList[a]:
        cleaned_values.append(float(str(ValuesList[a]).split('Th.\xa0')[0].split('€')[1])*1000)
    else:
        cleaned_values.append(float(a))

In [247]:
print(len(PlayersList))
print(len(AgeList))
# print(len(PositionsList))
print(len(NationList))
print(len(ValuesList))

25
15
25
25

In [250]:
final_df = pd.DataFrame({"Player":PlayersList,
                        #  "Age":AgeList,
                        #  "Position":PositionsList,
                         "Nation":NationList,
                         "Value":cleaned_values})

In [251]:
final_df

                    Player       Nation        Value
0           Erling Haaland       Norway  170000000.0
1               Phil Foden      England  110000000.0
2              Bukayo Saka      England  110000000.0
3               Harry Kane      England   90000000.0
4           Enzo Fernández    Argentina   85000000.0
5              Declan Rice      England   80000000.0
6                    Rodri        Spain   80000000.0
7          Martin Ødegaard       Norway   80000000.0
8          Kevin De Bruyne      Belgium   80000000.0
9           Bernardo Silva     Portugal   80000000.0
10         Marcus Rashford      England   80000000.0
11           Gabriel Jesus       Brazil   75000000.0
12               Luis Díaz     Colombia   75000000.0
13         Bruno Fernandes     Portugal   75000000.0
14              Rúben Dias     Portugal   75000000.0
15           Mohamed Salah        Egypt   70000000.0
16           Jack Grealish      England   70000000.0
17                  Antony       Brazil   70000000.0
18            Darwin Núñez      Uruguay   70000000.0
19      Gabriel Martinelli       Brazil   70000000.0
20             Reece James      England   70000000.0
21           Wesley Fofana       France   65000000.0
22             Mason Mount      England   65000000.0
23  Trent Alexander-Arnold      England   65000000.0
24              Cody Gakpo  Netherlands   60000000.0

# Part 2